* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
} */

.deletible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
